*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */

}
.header{
    background-image: linear-gradient(#0a0a36a7, rgba(13, 22, 94, 0.191)), url("images/background.jpg");
    background-position: bottom 300px right 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /*might cause viewport problems*/
    height: 50vh;
    margin: 0 auto;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li a:hover{
    color: grey;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;    
}
.hero-btn-cntc{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 34px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn-cntc:hover{
    border: 1px solid grey;
    background: white;
    transition: 1s;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.2;
}
.text-box h1{
    font-size: 50px;
    color: white;
    font-weight: 500;
}
.text-box-mobile{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.5;
    visibility: hidden;
}
.text-box-mobile h1{
    font-size: 28px;
    color: white;
    font-weight: 500;
}
.text-box p{
    margin: 10px 0 50px;
    font-size: 25px;
    color: rgb(196, 196, 196);
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid grey;
    background: grey;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media only screen and (max-width: 700px){ 
/* @media(max-width: 700px){ */
    .header {
        background-image: linear-gradient(#0a0a36a7, rgba(13, 22, 94, 0.191)), url("images/background.jpg");
        background-position: right;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%; /*might cause viewport problems*/
        height: 50vh;
        margin: 0 auto;
    }
    nav img{
        width: 100px;
    }
    .text-box{
        top: 30%;
        text-align: center;
        line-height: 1.5;
        visibility: hidden;
    }
    .text-box h1{
        font-size: 28px;
        font-weight: 500;
    }
    .text-box p{
        margin: 10px 0 5px;
        font-size: 12px;
        color: rgb(179, 179, 179);
    }
    .text-box-mobile{
        visibility: visible;
    }
    .hero-btn{
        font-size: 8px;
    }
    .nav-links ul li{
        display: block;  
    }
    .nav-links{
        position: fixed;
        background: #0a0a36;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
}}



/* Blog */
.background-1{
    min-height: 50vh;
    width: 100%;
    background-color: #0a0a36;
    /* background-image: linear-gradient(rgba(1, 3, 10, 0.4), rgba(4,9,30,0.4)), url(images/satellite-image.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.blog h1{
    font-size: 45px;
    font-weight: 500;
    color: white;
}
.blog p{
    color: #F4F6F7;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;

}
@media(max-width: 700px){
    .background-2{
        background-attachment: fixed;
    }
    .blog{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .blog h1{
        font-size: 25px;
    }
    .blog p{
        font-size: 12px;
    }
}

/* GIS and RS technical support */
.background-2{
    min-height: 50vh;
    width: 100%;
    background-color: #0a0a360f;
    /* background-image: linear-gradient(rgba(1, 3, 10, 0.4), rgba(4,9,30,0.4)), url(images/satellite-image.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.background-3{
    min-height: 50vh;
    width: 100%;
    /* background-color: #0a0a36; */
    background-image: linear-gradient(#0a0a36c0, #0a0a36c0), url(images/training.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.background-4{
    min-height: 50vh;
    width: 100%;
    /* background-color: #0a0a36; */
    background-image: linear-gradient(#0a0a36c0, #0a0a36c0), url(images/satellite-image.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.background-5{
    min-height: 50vh;
    width: 100%;
    /* background-color: #0a0a36; */
    background-image: linear-gradient(#0a0a36c0, #0a0a36c0), url(images/geospatial-data.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 1px solid green; */
}
.service h1{
    font-size: 35px;
    font-weight: 500;
    color: #0a0a36;
}
.service h3{
    font-size: 25px;
    font-weight: 500;
    color: #0a0a36;
    padding: 20px;
    padding-bottom: 5px;
    text-align: left;
}
.service p{
    color: grey;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
}
.wrapper-1 { 
  /* border : 2px solid #000;  */
  overflow:hidden;
  display: flex;
}
.wrapper-1 div {
   min-height: 200px;
   padding: 0px;
}
.wrapper-1 #one {
  float:left; 
  margin:10px;
  min-width: 50%;
  /* border : 1px solid #000;  */
}
.wrapper-1 #one img{
    width: 70%;
    border-radius: 20px;
}
.wrapper-1 #one h1{
    font-size: 35px;
    font-weight: 500;
    padding: 5%;
    color: #0a0a36;
}
.wrapper-1 #one p{
    padding-left: 40px;
}
.wrapper-1 #two { 
  background-color: none ;
  overflow:hidden;
  margin:10px;
  /* border : 1px solid #000;  */
}
.wrapper-1 #two h3{
    font-size: 25px;
    font-weight: 500;
    color: #0a0a36;
    padding: 20px;
    padding-bottom: 5px;
    text-align: left;
}
.wrapper-1 #two p{
    padding-left: 50px;
}

/* --- */
.wrapper-2 { 
  /* border : 2px solid white;  */
  overflow:hidden;
  display: flex;
}
.wrapper-2 div {
   min-height: 200px;
   padding: 0px;
}
.wrapper-2 #one {
    background-color: none;
    overflow:hidden;
    margin:10px;
    max-width: 50%;
    /* border:1px solid white; */
}
.wrapper-2 #one h3{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 20px;
    padding-bottom: 5px;
    text-align: left;
}
.wrapper-2 #one p{
    padding-left: 50px;
    color: white;
}
.wrapper-2 #two h1{
    font-size: 35px;
    font-weight: 500;
    padding: 5%;
    color: white;
}
.wrapper-2 #two { 
    float:right; 
    margin:10px;
    /* border: 1px solid white; */
}
.wrapper-2 #two img{
    width: 70%;
    border-radius: 20px;
}

@media(max-width: 700px){
    .service h1{
        font-size: 25px;
    }
    .service p{
        color: grey;
        text-align:left;
        font-size: 12px;
        padding: 0px;
    }
    .service h3{
        font-size: 20px;
    }
    .wrapper-1{
        flex-direction: row;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .wrapper-1 #one { 
        float: none;
        margin-right:0;
        width:auto;
        border:0;
    }
    .wrapper-1 #one h1{
        font-size: 25px;
    }
    .wrapper-1 #two h3{
        font-size: 20px;
    }
    .wrapper-1 #two p{
        padding-left: 0px;
    }
    .wrapper-2{
        flex-direction: row;
        flex-direction: column-reverse;
        padding-bottom: 0px;
    }
    .wrapper-2 #one {
        max-width: 100%;
    }
    .wrapper-2 #one h3{
        font-size: 20px;
    }
    .wrapper-2 #one p{
        padding-left: 0px;
    }
    .wrapper-2 #two { 
        float: none;
        margin-right:0;
        width:auto;
        border:0;
    }
    .wrapper-2 #two h1{ 
        font-size: 25px;
    }

}

/* Footer */
.container-footer{
	max-width: 1500px;
    margin-left: 20%;
    padding-top: 0px;
    
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0a0a36;
    padding: 70px 0;
}
.footer p{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
    font-size: 15px;
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #bbbbbb;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: absolute;
	height: 40px;
	width: 40px;
	background-color: #3b5998;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
    padding: 10px;
	border-radius: 10%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
    .footer p{
        font-size: 12px;
    }
}
@media(max-width: 574px){
  .footer-col{
    padding: 0 0px;
    width: 100%;
}
.footer-col h4{
	font-size: 15px;
}
.footer-col ul li a{
	font-size: 12px;
}

