*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(images/image-background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li a:hover{
    color: grey;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: grey;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;    
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;
    color: white;
    font-weight: 600;
}
.text-box h1 .h1color {
    color: green;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: grey;
}
.hero-btn-cntc{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 34px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn-cntc:hover{
    border: 1px solid grey;
    background: white;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .header{
        min-height: 100vh;
        background-attachment: local;
    }
    .text-box{
        top: 50%;
        text-align: center;
    }
    .text-box h1{
        font-size: 30px;
        font-weight: 600;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 13px;
        color: grey;
    }
    .nav-links ul li{
        display: block;  
    }
    .nav-links{
        position: fixed;
        background: #00001c;
        height: 60vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
}}


.Maps{
    width: 90%;
    margin: auto;
    /* text-align: center; */
    padding-top: 100px;
}
.Maps h1{
    font-size: 45px;
    font-weight: 500;
    color: black;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
}
p{
    color: grey;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Maps-col-left{
    flex-basis: 25%;
    height: 75vh;
    background: #F4F6F7;
    border-radius: 0px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Maps-col-right{
    width: 74%;
    height: 75vh;
    background: #F4F6F7;
    border-radius: 0px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Maps-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .Maps-col-right{
        width: 100%;
        height: 50vh;
    }
    .Maps h1{
        font-size: 35px;
    }
    h3{
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        margin: 10px 0;
    }
}
.map{
    width: 100%;
    height: 75vh;
    z-index: 1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.map2{
    width: 100%;
    height: 75vh;
    z-index: 1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 500;
}
.icons .fa-brands{
    color: grey;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 10;
    font-size: 1.5em;
}

